Evaluation/*.pyc
Algorithms/*.pyc
Inference/*.pyc
Learning/*.pyc
Structure/*.pyc
Evaluation/*
Algorithms/*
Inference/*
Learning/*
Structure/*
Evaluation/*
Algorithms/*
.pyc
find . -name '*.pyc' | xargs rm -f
.DS*
